.container
{

  border: 2px outset;
  border-radius:20px;
}
#Account
{
  height:150px;
  width: 350px;
background-color:#baffc9;
}
#Deposit-withdraw{
  background-color:#f49ac2;
  padding-left: 30px;
  height: 300px;
  width: 500px;
}
#total
{
  border: 1px inset;
  border-radius: 50px;
  padding: 20px;
  height: 150px;
  width: 150px;
}
#totalshell{
  background-color:#ffdfba;
  width: 200px;
  height:250px;
}
body{
  background-color: #bae1ff;

}
